body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  background-image:url("background.jpeg");
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

#tooltip {
  display: block;
  height: 50px;
}

#hover-content{
  font-size: x-large;

}

path.state {
  stroke: black;
}

.state:hover{
  stroke-width: 3;
  cursor: pointer;
}

#scatterplot{
  background-color: white;
}

#barchart{
  background-color: white;

}

#linechart{
  background-color: white;

}

#map{
  background-color: white;
}


#sources{
  text-align: left;
}
